---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About LLMSify"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Nowadays AI is taking over SEO, people will use AI by default and won't rely to much anymore on old
		search engines. We will provide content information and tools to get you listed in LLMS.

		This product is build by the Aierbal.com team.
	</p>
</Layout>
